<mat-drawer-container class="example-container">
  <mat-drawer #drawernoticias mode="side" [opened]="screenWidth > 1000" position="end">

    <mat-card>
      <mat-card-header>
        <mat-card-title>Notícias Mais Curtidas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="row wrap" fxLayoutGap="10px">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Eudo Rodrigues Leite é eleito novo Procurador-Geral de Justiça</mat-card-title>
              <mat-card-subtitle>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip</p>
                <p>
                  <mat-chip-list>
                    <mat-chip color="primary">#natal</mat-chip>
                    <mat-chip color="primary">#pgj</mat-chip>
                    <mat-chip color="primary">#outrahashtag</mat-chip>
                  </mat-chip-list>
                </p>
                <p>Lida por 10 | Compartilhada por 5 | Curtida por 6</p>
              </mat-card-subtitle>
            </mat-card-header>
            <button mat-stroked-button>Ler mais</button>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Eudo Rodrigues Leite é eleito novo Procurador-Geral de Justiça</mat-card-title>
              <mat-card-subtitle>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip</p>
                <p>
                  <mat-chip-list>
                    <mat-chip color="primary">#natal</mat-chip>
                    <mat-chip color="primary">#pgj</mat-chip>
                    <mat-chip color="primary">#outrahashtag</mat-chip>
                  </mat-chip-list>
                </p>
                <p>Lida por 10 | Compartilhada por 5 | Curtida por 6</p>
              </mat-card-subtitle>
            </mat-card-header>
            <button mat-stroked-button>Ler mais</button>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Eudo Rodrigues Leite é eleito novo Procurador-Geral de Justiça</mat-card-title>
              <mat-card-subtitle>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip</p>
                <p>
                  <mat-chip-list>
                    <mat-chip color="primary">#natal</mat-chip>
                    <mat-chip color="primary">#pgj</mat-chip>
                    <mat-chip color="primary">#outrahashtag</mat-chip>
                  </mat-chip-list>
                </p>
                <p>Lida por 10 | Compartilhada por 5 | Curtida por 6</p>
              </mat-card-subtitle>
            </mat-card-header>
            <button mat-stroked-button>Ler mais</button>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Notícias Mais Lidas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="row wrap" fxLayoutGap="10px">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Eudo Rodrigues Leite é eleito novo Procurador-Geral de Justiça</mat-card-title>
              <mat-card-subtitle>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip</p>
                <p>
                  <mat-chip-list>
                    <mat-chip color="primary">#natal</mat-chip>
                    <mat-chip color="primary">#pgj</mat-chip>
                    <mat-chip color="primary">#outrahashtag</mat-chip>
                  </mat-chip-list>
                </p>
                <p>Lida por 10 | Compartilhada por 5 | Curtida por 6</p>
              </mat-card-subtitle>
            </mat-card-header>
            <button mat-stroked-button>Ler mais</button>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Eudo Rodrigues Leite é eleito novo Procurador-Geral de Justiça</mat-card-title>
              <mat-card-subtitle>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip</p>
                <p>
                  <mat-chip-list>
                    <mat-chip color="primary">#natal</mat-chip>
                    <mat-chip color="primary">#pgj</mat-chip>
                    <mat-chip color="primary">#outrahashtag</mat-chip>
                  </mat-chip-list>
                </p>
                <p>Lida por 10 | Compartilhada por 5 | Curtida por 6</p>
              </mat-card-subtitle>
            </mat-card-header>
            <button mat-stroked-button>Ler mais</button>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Eudo Rodrigues Leite é eleito novo Procurador-Geral de Justiça</mat-card-title>
              <mat-card-subtitle>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip</p>
                <p>
                  <mat-chip-list>
                    <mat-chip color="primary">#natal</mat-chip>
                    <mat-chip color="primary">#pgj</mat-chip>
                    <mat-chip color="primary">#outrahashtag</mat-chip>
                  </mat-chip-list>
                </p>
                <p>Lida por 10 | Compartilhada por 5 | Curtida por 6</p>
              </mat-card-subtitle>
            </mat-card-header>
            <button mat-stroked-button>Ler mais</button>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
    
  </mat-drawer>
  <mat-drawer-content>

    <div *ngIf="!idNoticia" fxLayout="row wrap" fxLayoutGap="10px">
      <mat-card *ngFor="let noticia of noticias" class="card-noticia">
        <mat-card-header>
          <mat-card-title>{{ noticia.titulo }}</mat-card-title>
          <mat-card-subtitle>
            <p>{{ noticia.subtitulo }}
            </p>
            <p>
              <mat-chip-list>
                <mat-chip color="primary">#natal</mat-chip>
                <mat-chip color="primary">#pgj</mat-chip>
                <mat-chip color="primary">#outrahashtag</mat-chip>
              </mat-chip-list>
            </p>
          </mat-card-subtitle>
        </mat-card-header>
        
        
        <mat-card-content>

          <br />
          <img *ngIf="noticia.imagem" class="imagem-noticia"
            [src]="noticia.imagem | safe"
            />
            <iframe class="imagem-noticia" style="min-height: 50vh;" *ngIf="noticia.codigoVideoYoutube"  [src]="('https://www.youtube.com/embed/' + noticia.codigoVideoYoutube) | safe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          
            <mat-expansion-panel [hideToggle]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <button mat-stroked-button style="flex: 1 100%">Leia mais</button>
                </mat-panel-title>
                
              </mat-expansion-panel-header>
              
              <div [innerHtml]="noticia.conteudo"></div>
            </mat-expansion-panel>
            <mat-card-subtitle>

            <p style="margin-top:1em;">Lida por 10 | Compartilhada por 5 | Curtida por 6</p>
          </mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions [dir]="sentidoLinha()" fxLayout="row">

          <button mat-stroked-button>Curtir</button>
          <button mat-stroked-button>Compartilhar</button>
        </mat-card-actions>
      </mat-card>

      
       
      
    </div>
    <div *ngIf="idNoticia" fxLayout="row wrap" fxLayoutGap="10px">
      <mat-card  class="card-noticia">
        <mat-card-header>
          <mat-card-title>{{ noticiaEspecifica.titulo }}</mat-card-title>
          <mat-card-subtitle>
            <p>{{ noticiaEspecifica.subtitulo }}
            </p>
            <p>
              <mat-chip-list>
                <mat-chip color="primary">#natal</mat-chip>
                <mat-chip color="primary">#pgj</mat-chip>
                <mat-chip color="primary">#outrahashtag</mat-chip>
              </mat-chip-list>
            </p>
          </mat-card-subtitle>
        </mat-card-header>
        
        
        <mat-card-content>

          <br />
          <img *ngIf="noticiaEspecifica.imagem" class="imagem-noticia"
            [src]="noticiaEspecifica.imagem | safe"
            />
            <iframe class="imagem-noticia" style="min-height: 50vh;" *ngIf="noticiaEspecifica.codigoVideoYoutube"  [src]="('https://www.youtube.com/embed/' + noticiaEspecifica.codigoVideoYoutube) | safe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          
           
            <mat-card-subtitle>
              <div [innerHtml]="noticiaEspecifica.conteudo"></div>
            <p style="margin-top:1em;">Lida por 10 | Compartilhada por 5 | Curtida por 6</p>
          </mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions [dir]="sentidoLinha()" fxLayout="row">

          <button mat-stroked-button>Curtir</button>
          <button mat-stroked-button>Compartilhar</button>
        </mat-card-actions>
      </mat-card>

      
       
      
    </div>
    <button *ngIf="!idNoticia" style="width:100%;margin-top:1em;"  mat-stroked-button>Carregar Mais Notícias</button>
  </mat-drawer-content>
</mat-drawer-container>