<mat-button-toggle-group (click)="opcaoMenu()" #group fxFill fxLayout="row" >
    <mat-button-toggle id="botao-home" value="home"  fxFlex  aria-label="Text align left">
      <mat-icon>home</mat-icon>
      <span fxHide.xs>Home</span>
    </mat-button-toggle>
    <mat-button-toggle id="botao-servicos"  value="servicos"  fxFlex  aria-label="Text align left">
      <mat-icon>apps</mat-icon>
      <span fxHide.xs>Serviços</span>
    </mat-button-toggle>
    <mat-button-toggle id="botao-noticias" value="noticias"  fxFlex  aria-label="Text align left">
      <mat-icon>rss_feed</mat-icon>
      <span fxHide.xs>Notícias</span>
    </mat-button-toggle>
    <mat-button-toggle id="botao-documentos" value="documentos"  fxFlex  aria-label="Text align left">
      <mat-icon>insert_drive_file</mat-icon>
      <span fxHide.xs>Documentos</span>
    </mat-button-toggle>
   
    
  </mat-button-toggle-group>
  